config ARM_SCI
	bool "Enable ARM SCI subsystem support"
	depends on ARM
	default n
	help
	  This option enables generic Arm SCI (System Control Interface) subsystem
	  support. It allows domains to control system resources via one of
	  Arm SCI drivers implemented in XEN, like SCMI.

if ARM_SCI

choice
	prompt "ARM SCI driver type"
	default SCMI_SMC_DOM0
	help
	Choose which ARM SCI driver to enable.

	If unsure, choose SCMI_SMC_DOM0.

config SCMI_SMC_DOM0
	bool "Enable forwarding SCMI over SMC calls from Dom0 to EL3 firmware"
	default y
	help
	  This option enables basic awareness for SCMI calls using SMC as
	  doorbell mechanism and Shared Memory for transport ("arm,scmi-smc"
	  compatible only). The value of "arm,smc-id" DT property from SCMI
	  firmware node is used to trap and forward corresponding SCMI SMCs
	  to firmware running at EL3, if the call comes from Dom0.

config SCMI_SMC_MA
	bool "Enable ARM SCMI SMC multi-agent driver"
	help
	  Enables SCMI SMC/HVC multi-agent in XEN to pass SCMI requests from Domains
	  to EL3 firmware (TF-A) which supports multi-agent feature.
	  This feature allows to enable SCMI per Domain using unique SCMI agent_id,
	  so Domain is identified by EL3 firmware as an SCMI Agent and can access
	  allowed platform resources through dedicated SMC/HVC Shared memory based
	  transport.

endchoice

endif
